.nav-bar {
  padding: 4px 14px;
  background-color: $clr1;
  .logo {
    a {
      font-family: libre, Arial, Helvetica, sans-serif;
      color: $clr4;
      display: inline-block;
      font-size: 1.6em;
      transition: color 0.3s;
      &:hover {
        color: $clr4h;
      }
    }
  }
  .links {
    margin: auto 0 auto 14px;
    a {
      font-family: sans_pro, Arial, Helvetica, sans-serif;
      color: $clr6;
      font-size: 1.2em;
      transition: color 0.3s;
      &:not(:last-child) {
        margin-right: 14px;
      }
      &:hover {
        color: $clr3h;
      }
    }
  }
}

.home {
  .head-container {
    min-height: 200px;
    height: 50vw;
    max-height: 100vh;
    background-color: #7f7f7f;
    background-image: url("../../assets/img/bci/music-space.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: unset;
    background-position: center;
  }
  .main-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 10px 0;
    .wrap-img {
      border-radius: 2px;
      cursor: pointer;
      background-color: #4f4242;
      img {
        height: 120px;
        padding: 4px 14px;
      }
      .text {
        background-color: #e9ecc94f;
        margin: auto 0;
        height: 28px;
        line-height: 28px;
        font-size: 0.9em;
      }
      @media (min-width: 500px) {
        img {
          height: 150px;
          padding: 6px 18px;
        }
        .text {
          height: 36px;
          line-height: 36px;
          font-size: 1em;
        }
      }
    }
  }
}

.music-rooms {
  padding: 10px 0;
  .filter {
    margin: 0 0 8px 0;
    min-width: 55%;
    font-size: 1.1rem;
    padding: 6px 8px;
    border: 0.5px solid rgb(68, 68, 68);
    background-color: $clr6;
    border-radius: 2px;
    &:focus {
      background-color: $clr5;
      outline: 1px solid rgba(0, 0, 0, 0);
    }
  }
  .room-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 10px;
    margin: 0 10px;
    list-style-type: none;
    padding: 0;
    li {
      padding: 2px 2px 2px 2px;
      font-family: libre, Arial, Helvetica, sans-serif;
      border-radius: 2px;
      color: $clr5;
      background-color: $clr3;
    }
  }

  @media (min-width: 500px) {
    .contact-list {
      grid-gap: 20px;
      margin: 0 20px;
    }
  }
}
