.music-player {
  .deatails {
    height: calc(100% - 140px);
    background-color: rgb(99, 92, 82);
    padding: 10px 0 10px 0;
    img {
      width: 100px;
      height: auto;
      border-radius: 4px;
    }
    .song-list {
      padding: 0;
      overflow-y: auto;
      li {
        list-style-type: none;
        cursor: pointer;
        &:hover{
          color: rgb(0, 132, 255);
        }
      }
    }
  }
}
