.music-player {
  .player {
    height: 140px;
    background-color: #5f5263;
    .progress {
      padding: 0 12px 6px 12px;
      .time {
        font-size: 1.2em;
      }
      input {
        -webkit-appearance: none;
        margin: 6px 0 14px 0;
        width: 100%;
        // background: linear-gradient(to right, green 0%, green 50%, #fff 50%, #fff 100%);
        // background: linear-gradient(to right, #3f87a6 0%, #3f87a6 50%, #ebf8e1 50%, #ebf8e1 100%);
        background: linear-gradient(#3f87a6, #ebf8e1, #ffcf4b);
        background-color: #ffcf4b;
        height: 32px;
      }
      input:focus {
        outline: none;
      }
      input::-webkit-slider-thumb {
        -webkit-appearance: none;
        cursor: pointer;
        border: 1px solid #000000;
        height: 36px;
        width: 12px;
        border-radius: 2px;
        background: #ffbe45;
        margin-top: -10px;
      }
      input::-webkit-slider-runnable-track {
        cursor: pointer;
        width: 100%;
        height: 16px;
        // background: #53cfd8;
        // background-color: #53cfd8;
        border-radius: 4px;
      }
    }
    .controls {
      font-family: sans_pro, Arial, Helvetica, sans-serif;
      padding: 0 10px;
      button {
        border-radius: 50%;
        font-size: 1.2em;
        cursor: pointer;
        margin: 0 1em;
        height: 40px;
        padding: 0;
        background-color: rgb(255, 215, 215);
        border: 1px solid rgb(255, 155, 155);
        width: 40px;
      }
    }
  }
}
